.medicineItem {
  width: 220px;
  height: 220px;
  display: flex;
  border: 1.6px solid whitesmoke;
  border-radius: 10px;
  color: #454545;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.medicineItem:nth-child(3n-1) {
  margin: 0 20px;
}

.itemName {
  margin-top: 0.5em;
}
.delete {
  border: none;
  float: right;
}

.basicBox {
  width: 800px;
  border-radius: 10px;
  border: 1.8px solid #2e2e2e;
  margin: 0px auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.85);
  /* boxShadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur(4px);
}
@media screen {
}
