.medicineBox {
  width: 220px;
  height: 220px;
  display: flex;
  border: 1.6px solid whitesmoke;
  border-radius: 10px;
  color: #454545;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.medicineBox:nth-child(3n-1) {
  /* margin: 0 15px; */
}

.itemName {
  margin-top: 0.5em;
}
.delete {
  border: none;
  float: right;
}
