.notice {
  z-index: 10;
  position: fixed;
  bottom: 5em;
  right: 5em;
}

.btn {
  width: 80%;
}

.btn:hover {
  cursor: pointer;
}

#noticeModal {
  display: none;
  position: fixed;
  z-index: 11;
  bottom: 5em;
  right: 4.5em;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  border-radius: 10%;
  /* box-shadow: 0 0 15px #83b4df94; */
  border: 1px solid #83b4df94;
  height: 320px;
  width: 280px;
}

.upper {
  display: block;
}

.title {
  font-size: x-large;
  font-weight: 800;
}

.blue {
  color: #1890ff;
}

.close {
  font-size: x-large;
  font-weight: 700;
  float: right;
  padding-right: 5px;
}

.close:hover {
  cursor: pointer;
}

.noticeTitle {
  font-weight: 520;
}
.noticeTitle:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  .btn {
    width: 70%;
  }
  .notice {
    right: 0.1em;
    bottom: 1.8em;
  }

  #noticeModal {
    bottom: 2em;
    right: 1.5em;
  }
}
