.medicineItem {
  width: 280px;
  height: 280px;
  /* display: flex; */
  /* border: 1.6px solid whitesmoke; */
  border-radius: 10px;
  color: #454545;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 5px 20px 0 rgba(206, 206, 206, 0.47);
  margin-bottom: 30px;
  overflow: hidden;
}

.arrow {
  color: #73bbf4;
}

.medicineItem:nth-child(3n-1) {
  margin: 0 30px;
}

.itemName {
  font-weight: 700;
  font-size: large;
}

.entpName {
  color: #727272;
}

.quantity {
  /* font-size: medium; */
}
.delete {
  border: 1px solid #acacac;
  color: #acacac;
  float: right;
  border-radius: 100%;
  font-size: 5px;
  padding: 1px 5px;
}

.calendarCard {
  width: 300px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  z-index: 100;
  position: fixed;
  top: 4em;
  left: 35%;
}
.infoName {
  float: left;
  padding-right: 20px;
  color: #929292;
}

.forAlign {
  width: max-content;
}

.dateString {
  margin: 0 10px;
  font-weight: 500;
}
.dateString:hover {
  cursor: pointer;
}

.basicBox {
  width: 1000px;
  border-radius: 20px;
  margin: 0px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 5px 20px 0 rgba(206, 206, 206, 0.47);
  backdrop-filter: blur(4px);
}
.bannerContainer {
  padding: 100px 0 60px 0;
  width: 100%;
}
.banner {
  background: #73bbf4;
  /* background: linear-gradient(
    90deg,
    rgba(62, 162, 255, 1) 0%,
    rgba(123, 208, 255, 1) 100%
  ); */
  border-radius: 20px;
  padding: 50px;
}
.banner > .first {
  color: white;
  font-size: 40px;
  line-height: 120%;
}

.banner > .first > .sub {
  font-size: 20px;
  font-weight: 200;
}
.explain {
  font-size: small;
  color: #4b4b4b;
  font-weight: 200;
}

.dateDiv {
  font-size: 25px;
  font-weight: 300;
  margin: 30px;
}

.logBox {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  margin: 0 auto;
}

.exclamation {
  color: #e94545;
  font-size: 17px;
  display: contents;
}

.itemInfo {
  padding: 15px;
}

.pillEvent {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 rgba(31, 31, 31, 0.15);
}

.myCalendar {
  width: 1000px;
  margin: 0px auto;
  padding: 100px 0;
}

.fc-scrollgrid-sync-inner {
  background-color: white;
}

@media (max-width: 767px) {
  .bannerContainer {
    padding: 60px 0 0 0;
    width: 100%;
  }
  .banner {
    padding: 30px 20px;
    margin: 0.7em 0.5em;
  }
  .banner > .first {
    font-size: 1.6em;
    line-height: 120%;
    padding: 5px;
    font-weight: 400;
  }

  .banner > .first > .sub {
    font-size: 15px;
    font-weight: 200;
  }
  .basicBox {
    width: 100%;
    border-radius: none;
  }
  #medicineBox {
    padding: 0.5em;
  }

  .myCalendar {
    width: 100vw;
    height: 90vh;
  }

  .fc-media-screen {
    height: inherit;
  }

  .container {
    width: 100vw;
  }

  .myCalendar {
    width: 100vw;
    padding: 10px 0;
  }

  .pillEvent {
    width: 20px;
    height: 20px;
  }

  .pillEvent:nth-child(n +) {
    display: none;
    border: #454545;
  }
  .dateDiv {
    font-size: large;
    margin: 5px;
  }
  .calendarCard {
    top: 3.5em;
    left: 5%;
  }

  .basicBox {
    padding: 20px 0;
  }

  .medicineItem {
    width: 43vw;
    height: 43vw;
    overflow: hidden;
  }

  .medicineItem:nth-child(3n-1) {
    margin: 0 5px;
  }

  .itemName {
    font-size: smaller;
  }
  .quantity {
    font-size: x-small;
  }
  .entpName {
    font-size: x-small;
  }
  .medicineItem:nth-child(3n-1) {
    margin: 0;
  }
  .logBox {
    margin-left: 0px;
    justify-content: space-between;
  }

  .fc .fc-toolbar-title {
    font-size: 1.3em;
    margin-left: 10px;
  }
  .fc .fc-button {
    padding: 0.2em 0.65em;
  }

  .fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
    margin-left: 0px;
    margin-right: 10px;
    padding: 0.2em 0.65em;
  }
  .ancient {
    padding-bottom: 80px;
  }
  .itemInfo {
    padding: 5px;
  }
  .exclamation {
    font-size: small;
  }
}
