.usePurpose {
  padding: 30px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 5px 20px 0 rgba(206, 206, 206, 0.47);
  /* boxShadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur(4px);
  /* border: 1px solid #d5d5d5; */
  font-size: large;
  border-radius: 10px;
  height: 320px;
  margin: 0 auto;
}

.icon {
  filter: invert(68%) sepia(52%) saturate(595%) hue-rotate(179deg)
    brightness(103%) contrast(103%);
}

#personal,
#family,
#institute {
  display: none;
}

label > input:checked + div {
  border: 2px solid darkblue;
}

.profileInfo {
  font-size: 20px;
  line-height: 100%;
  margin-left: 25px;
  vertical-align: middle;
  margin-bottom: 20px;
}

.email {
  font-size: 20px;
}

.userPurpose:hover {
  cursor: pointer;
}

.usePurpose:nth-child(3n-1) {
  margin: 0 10px;
}
.purposeExplain {
  border: 1px solid #700b0b;
  width: 65vw;
  margin: 0 auto;
  padding: 100px 0;
}

.purpose {
  margin: 0 auto;
  display: table;
  margin-top: 30px;
}

.payButton {
  background-color: #3ea2ff;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 20px 40px;
  color: white;
}

.payButton:hover {
  cursor: pointer;
}

.payButtonDisable {
  background-color: #acacac;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 20px 40px;
  color: white;
}

.payButtonDisable:hover {
  cursor: not-allowed;
}
