.profileContainer {
  background-color: #fcfcfc;
  padding: 100px;
}

.profile {
  width: 900px;
  margin: 0 auto;
  padding: 100px 20px;
  display: flex;
  align-items: center;
}

.subInfo {
  font-size: small;
  border-radius: 10px;
  background: #eef8ff;
  padding: 2px 5px;
  width: fit-content;
}

.usePurpose {
  padding: 30px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 5px 15px 0 rgb(206 206 206 / 47%);
  /* boxShadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur(4px);
  /* border: 1px solid #d5d5d5; */
  font-size: large;
  border-radius: 8%;
  height: 320px;
  margin: 0 auto;
}

.icon {
  /* filter: invert(68%) sepia(52%) saturate(595%) hue-rotate(179deg) */
  /* brightness(103%) contrast(103%); */
  margin: 25px 0 10px 0;
}

.price {
  font-weight: 700;
  padding: 8px 10px;
  background: #eef8ff;
  border-radius: 10px;
  font-size: medium;
}

#personal,
#family,
#institute {
  display: none;
}

label > input:checked + div {
  border: 2px solid darkblue;
}

.payInfoAlert {
  margin: 0 auto;
}

.profileInfo {
  font-size: 20px;
  margin-left: 25px;
  vertical-align: middle;
  margin-bottom: 20px;
}

.email {
  font-size: 20px;
}

.profilePic {
  display: flex;
  width: 200px;
}
.subscribe {
  display: flex;
  margin: 0 auto;
  width: 900px;
}

.priceInfo {
  align-self: center;
  padding: 20px;
  font-size: 20px;
}

.payBox {
  border-radius: 20px;
  /* border: 1.8px solid #2e2e2e; */
  margin: 0px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 5px 20px 0 rgb(206 206 206 / 47%);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  width: 880px;
}

.userPurpose:hover {
  cursor: pointer;
}

.usePurpose:nth-child(3n-1) {
  margin: 0 10px;
}
.purposeExplain {
  border: 1px solid #700b0b;
  width: 65vw;
  margin: 0 auto;
  padding: 100px 0;
}

.explain {
  margin-top: 30px;
}

.purpose {
  margin: 0 auto;
  display: table;
  font-size: larger;
  font-weight: 800;
}

#payButton {
  background-color: #3ea2ff;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 20px 40px;
  color: white;
}

#payButton:hover {
  cursor: pointer;
}

.payButtonDisable {
  background-color: #acacac;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 20px 40px;
  color: white;
}

@media (max-width: 767px) {
  .icon {
    margin: 0;
  }
  .profileContainer {
    padding: 60px 0;
  }

  .profile {
    width: 100vw;
    padding: 20px 0;
    display: block;
  }

  .profilePic {
    width: 120px;
  }
  .subscribe {
    width: 100vw;
    display: block;
  }
  .payBox {
    width: 100vw;
  }
}
