@import "~antd/dist/antd.css";

.container {
  width: 1000px;
  margin: auto;
}

.main {
  background-color: #7fccff;
  /* background-image: url(../../../images/medic.jpg); */
  background-position: 0 -80px;
  position: relative;
  height: 52em;
  background-attachment: fixed;
}

.startBtn {
  display: none;
  border-radius: 25%;
  border: 1px solid white;
  padding: 10px;
  font-weight: 600;
}
.subImage,
.subImage2 {
  border-radius: 10%;
  box-shadow: 0 0 22px #188fff94;
  height: 320px;
}
.second-section {
  background-color: #fcfcfc;
  background-size: 1600px;
  position: relative;
  height: 52em;
  padding: 20vh 0;
  margin: 0 auto;
}

.subText {
  font-weight: 400;
  font-size: 23px;
}

.mainSubText {
  position: absolute;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.5em;
  margin-top: 10px;
}

.sectionContainer {
  width: 1000px;
  display: flex;
  margin: 0 auto;
  /* margin-top: 10vh; */
}

.sectionLeft {
  width: 50%;
  padding: 0 20px 0 0;
  margin: 0 30px;
}

.sectionRight {
  width: 50%;
  font-size: 40px;
  margin: 0 0 0 150px;
}

#root
  > div:nth-child(2)
  > div
  > div:nth-child(3)
  > div
  > div.sectionLeft
  > img {
  width: 450px;
}

.second-section:nth-child(3) > .sectionContainer > .sectionRight {
  margin-left: 80px;
}

.accent {
  color: #1890ff;
  font-weight: 600;
  font-size: 1.2em;
}
.mainImg {
  height: 40vh;
}

.pills {
  display: none;
}

.mockup {
  position: relative;
  height: 8.5em;
  right: -8.5em;
  bottom: 3.95em;
  z-index: 2;
}

.copyright {
  margin: 0 30px;
  padding: 4.2em 0;
  /* padding: 260px 80px 16vh 16vw; */
  font-size: 62px;
  line-height: 1.5em;
  letter-spacing: -0.002em;
}
.titleText {
  font-weight: 600;
}

.main-btn {
  border-radius: 10px;
  border: none;
  background-color: aliceblue;
  color: steelblue;
  font-size: medium;
  width: 250px;
  padding: 10px 0px;
  margin-top: 1em;
}

.main-btn:hover {
  cursor: pointer;
  background-color: #1890ff;
  color: aliceblue;
  transition-duration: 0.5s;
}

.news {
  width: 1100px;
  margin: 0 auto;
  padding: 30px;
}

.imgDiv {
  position: relative;
}

div.sectionLeft:nth-child(1) > div > img:nth-child(1) {
  position: relative;
  left: 0px;
  top: -10px;
}

div.sectionLeft:nth-child(1) > div > img:nth-child(2) {
  left: 140px;
  top: 130px;
  z-index: 3;
  position: absolute;
}

@media (max-width: 767px) {
  .main {
    background-image: url(../../../images/pills2.png);
    background-size: 560px;
    background-position-x: center;
    background-position-y: center;
    height: 80vh;
    background-attachment: inherit;
  }

  .copyright {
    margin: 0;
    padding: 80px 10px;
    font-size: 30px;
  }

  .startBtn {
    display: block;
    border-radius: 40px;
    background: none;
    border: 2px solid white;
    color: white;
    font-size: 18px;
    padding: 6px;
    width: 10em;
    margin: 0 auto;
    position: relative;
    bottom: -200px;
  }

  .titleText {
    display: none;
    margin-top: 10px;
    align-content: center;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
  }
  .mockup {
    display: none;
    height: 100px;
  }
  div:nth-child(3) > div > div.sectionLeft > img {
    margin: 25px;
    width: 84vw;
    height: 100%;
  }

  div.sectionLeft:nth-child(1) > div > img:nth-child(1) {
    top: 0px;
  }

  div.sectionLeft:nth-child(1) > div > img:nth-child(2) {
    top: 0px;
    left: 240px;
    width: 224px;
    height: 224px;
    margin-right: 25px;
  }

  #root
    > div:nth-child(2)
    > div
    > div:nth-child(3)
    > div
    > div.sectionLeft
    > img {
    width: 84vw;
  }

  .mainSubText {
    display: none;
  }

  .sectionContainer {
    flex-direction: column-reverse;
    width: 100vw;
  }

  .second-section {
    padding: 0;
    height: fit-content;
  }

  .sectionLeft {
    margin: 0;
  }

  .imageContainer {
    padding: 0 0 2em 0;
    display: inline-block;
    width: 100vw;
  }

  .subImage2 {
    display: block;
    margin: 20px auto;
    width: 83vw;
    height: 100%;
    box-shadow: 0 0 15px #188fff94;
  }

  .subImage {
    margin: 30px 25px;
    width: 224px;
    height: 100%;
    box-shadow: 0 0 15px #188fff94;
  }
  .sectionRight {
    margin: 0;
    width: 100vw;
    font-size: 25px;
    padding: 25px;
  }

  .second-section:nth-child(3) > .sectionContainer > .sectionRight {
    margin-left: 0px;
  }

  .imgDiv {
    overflow: scroll;
    width: 100vw;
    margin-bottom: 2em;
  }

  .imgDiv::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
  .subText {
    font-size: small;
  }

  .helper {
    height: 1px;
    width: 30px;
    /* background-color: red; */
    position: absolute;
    left: 480px;
    top: 0;
    z-index: 100;
  }
}
