@import "~antd/dist/antd.css";

.main {
  background-color: aliceblue;
  /* background-image: url(../../../images/medic.jpg); */
  background-position: 0 -80px;
  background-size: 1600px;
  position: relative;
  height: 100vh;
  background-attachment: fixed;
}
.subImage {
  border-radius: 10%;
  box-shadow: 0 0 30px #4787db;
}
.second-section {
  background-color: #f7f7f7;
  background-size: 1600px;
  position: relative;
  height: 100vh;
}

.sectionContainer {
  width: 1100px;
  display: flex;
  margin: 0 auto;
}

.sectionLeft {
  width: 50%;
}

.sectionRight {
  width: 50%;
}
.mainImg {
  height: 40vh;
}

.mockup {
  position: absolute;
  height: 70vh;
  right: 30vh;
  bottom: 0.2vh;
}

.copyright {
  padding: 180px 30px;
  width: 860px;
  margin: 0 auto;
  font-size: 30px;
  color: aliceblue;
  font-weight: 200;
}

.main-btn {
  border-radius: 10px;
  border: none;
  background-color: aliceblue;
  color: steelblue;
  font-size: medium;
  width: 250px;
  padding: 10px 0px;
  margin-top: 1em;
}

.main-btn:hover {
  cursor: pointer;
  background-color: #1890ff;
  color: aliceblue;
  transition-duration: 0.5s;
}

.news {
  width: 1100px;
  margin: 0 auto;
  padding: 30px;
}

@media (max-width: 767px) {
}
